.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  height: 70vh;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 24px;
}

/* טאבים */
.tabs {
  display: flex;
  background: #f3f4f6;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 12px;
  font-weight: 600;
  color: #6b7280;
  transition: all 0.2s ease;
}

/* hover */
.tab:hover {
  background: #e5e7eb;
}

/* פעיל */
.active {
  background: white;
  color: #111827;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* תוכן */
.content {
  margin-top: 8px;
}